<div class='test'>
  <div class="testDiv"></div>
  <button class='button'> coucou</button>
</div>

<style lang='scss'>
  .test {
    background-color: black;
    padding: 10rem;
    z-index: -2;
    position: relative;
  }
  .testDiv {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    &::after {
      content: '';
      width: 110px;
      height: 110px;
      position: absolute;
      background-color: pink;
      z-index: -1;
    }
  }
  .button {
    color: white;
    position: relative; /* or absolute */
    font-size: 5rem;
    background-color: black;
    border: 1px solid grey;
    border-radius: 5rem;
    padding: 2rem;
    &::before {
      content: "";
      position: absolute;
      border-radius: 5rem;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent;
      box-shadow: inset 1px 1px 0px white;
      transition: transform 0.2s;
    }
    &:hover::before {
      transform: rotate(180deg);
    }
  }
</style>
