---
import HeroSiteWeb from "../components/HeroSiteWeb.astro"
import Websites from "../components/Websites.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Création de site web">
  <main>
    <HeroSiteWeb />
    <Websites />
  </main> 
</Layout>