---
import HeroSiteWeb from "../components/HeroSiteWeb.astro"
import Prices from "../components/Prices.astro"
import Ecoconception from "../components/Ecoconception.astro"
import Websites from "../components/Websites.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Création de site web">
  <main>
    <HeroSiteWeb />
    <Websites />
    <Prices />
    <Ecoconception />
  </main> 
</Layout>