---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title='Kevin Lanvin'>
  <Header />
  <main>
    <Hero />
  </main>
</Layout>

<style is:global>
  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraLight.ttf");
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Italic.ttf");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

  body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
  }
  
  main {
    background: url("/images/bg.jpg");
    background-color: #000;
    background-size: cover;
    min-height: 100vh;
    padding-top: 165px;
  }

  a {
    cursor: pointer;
  }
</style>
