---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import LastWork from "../components/LastWork.astro";
import WebsiteCreation from "../components/WebsiteCreation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title='Kevin Lanvin'>
  <Header />
  <main>
    <Hero />
    <WebsiteCreation />
    <LastWork />
  </main>
</Layout>

<style is:global>
  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraLight.ttf");
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Italic.ttf");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  main {
    background: url("/images/bg.webp");
    background-color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 165px;
  }

  a {
    cursor: pointer;
  }
</style>
