---
import ContactSection from "../components/ContactSection.astro";
import Hero from "../components/Hero.astro";
import LastWork from "../components/LastWork.astro";
import Partners from "../components/Partners.astro";
import SimpleSection from "../components/SimpleSection.astro";
import Technologies from "../components/Technologies.astro";
import WebsiteCreation from "../components/WebsiteCreation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title='Kevin Lanvin'>
  <main>
    <Hero />
    <WebsiteCreation />
    <LastWork />
    <!-- <SimpleSection /> -->
    <!-- <Technologies /> -->
    <!-- <Partners /> -->
    <!-- <ContactSection /> -->
  </main>
</Layout>
