---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Kevin Lanvin'>
  <main>
    <h1>MENTIONS LÉGALES</h1>

    Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la
    confiance en l'économie numérique, il est précisé aux utilisateurs du site
    Kevin Lanvin l'identité des différents intervenants dans le cadre de sa
    réalisation et de son suivi.

    <h2>Edition du site</h2>

    Le présent site, accessible à l’URL https://kevinlanvin.com (le « Site »),
    est édité par : Kevin Lanvin, résidant 21 rue Jules Lefebvre 59800 LILLE, de
    nationalité Française (France), né(e) le 24/11/1993, inscrite au R.C.S. de
    LILLE METROPOLE sous le numéro 953461704,

    <h2>hébergement</h2>

    Le Site est hébergé par la société Amazon Web Services, Inc, situé 1915
    Terry Ave, Seattle, WA 98101, États-Unis, (contact téléphonique ou email :
    +12066533874).

    <h2>Directeur de publication</h2>

    Le Directeur de la publication du Site est Kevin Lanvin.

    <h2>Nous contacter</h2>

    Par email : contact@kevinlanvin.com Par courrier : 21 rue Jules Lefebvre
    59800 LILLE
  </main>
</Layout>

<style lang='scss'>
  main {
    background-color: black;
    color: white;
    padding: 10rem 12%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
