---
import ProjectCard from "../components/ProjectCard.astro";
---

<main>
  <div class='scene'>
    <ProjectCard className='scrollableCard'>
      <h2>Card 1</h2>
      <p slot='description'>Description 1</p>
    </ProjectCard>
    <ProjectCard className='scrollableCard'>
      <h2>Card 2</h2>
      <p slot='description'>Description 2</p>
    </ProjectCard>
    <ProjectCard className='scrollableCard'>
      <h2>Card 3</h2>
      <p slot='description'>Description 3</p>
    </ProjectCard>
    <ProjectCard className='scrollableCard'>
      <h2>Card 4</h2>
      <p slot='description'>Description 4</p>
    </ProjectCard>
  </div>
</main>

<script>
  document.addEventListener("scroll", () => {
    const sceneElement = document.querySelector(".scene") as HTMLElement;
    if (!!sceneElement) {
      sceneElement.style.transform = `translateZ(${window.scrollY}px)`;
    }
    const descriptions = document.querySelectorAll(".description");
    descriptions.forEach(node => (node as HTMLElement).style.opacity = "0");
  });
  document.addEventListener("scrollend", () => {
    const sceneElement = document.querySelector(".scene") as HTMLElement;
    if (window.scrollY % 400 !== 0) {
      sceneElement.style.transition = "transform 0.3s ease-in-out";
      const currentProjectCardNumber = Math.floor(window.scrollY / 400) + 1;
      window.scrollTo(0, currentProjectCardNumber * 400);
    }
    setTimeout(() => {
      sceneElement.style.transition = "none";
      const displayedCardNumber = Math.floor(window.scrollY / 400) + 1;
      const currentProjectCardDescription = document.querySelector(
        `.scene > .projectCard:nth-child(${displayedCardNumber}) > .description`
      ) as HTMLElement;
      currentProjectCardDescription.style.opacity = "1";
    }, 300);
  });
</script>

<style lang='scss'>
  :root {
    --gap: 400;
    --nbElements: 4;
  }
  :global(body) {
    height: calc(100vh + var(--gap) * (var(--nbElements) - 1) * 1px);
    scroll-behavior: smooth;
  }
  main {
    perspective: 200px;
    perspective-origin: 70% 50%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("/images/stars.jpeg");
    background-size: cover;
  }
  .scene {
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    scroll-snap-type: mandatory;
  }
  :global(.scrollableCard) {
    position: absolute;
    width: 30%;
    height: 300px;
    top: 50%;
    background-color: #ffffffcc;
    left: 40%;
    @for $i from 0 through 25 {
      &:nth-child(#{$i}) {
        transform: translate3d(
          -50%,
          -50%,
          calc(var(--gap) * (#{$i} - 1) * -1px)
        );
      }
    }
    &:nth-child(1) :global(.description) {
      opacity: 1;
    }
  }
</style>
