---
import ProjectCard from "../components/ProjectCard.astro";
---

<main>
  <div class='scene'>
    <ProjectCard className='scrollableCard'>Card 1</ProjectCard>
    <ProjectCard className='scrollableCard'>Card 2</ProjectCard>
    <ProjectCard className='scrollableCard'>Card 3</ProjectCard>
    <ProjectCard className='scrollableCard'>Card 4</ProjectCard>
  </div>
</main>

<script>
  document.addEventListener("scroll", () => {
    const sceneElement = document.querySelector(".scene") as HTMLElement;
    if (!!sceneElement) {
      sceneElement.style.transform = `translateZ(${window.scrollY}px)`;
    }
  });
  document.addEventListener("scrollend", () => {
    console.log(Math.floor(window.scrollY / 400));
    if (window.scrollY % 400 === 0) return;
    const sceneElement = document.querySelector(".scene") as HTMLElement;
    sceneElement.style.transition = 'transform 0.3s ease-in-out';
    window.scrollTo(0, (Math.floor(window.scrollY / 400) + 1) * 400);
    setTimeout(() => {
      sceneElement.style.transition = 'none';
    }, 300);
  });
</script>

<style lang='scss'>
  :root {
    --gap: 400;
    --nbElements: 4;
  }
  :global(body) {
    height: calc(100vh + var(--gap) * (var(--nbElements) - 1) * 1px);
    scroll-behavior: smooth;
  }
  main {
    perspective: 200px;
    perspective-origin: 70% 50%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("/images/stars.jpeg");
    background-size: cover;
  }
  .scene {
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    scroll-snap-type: mandatory;
  }
  :global(.scrollableCard) {
    position: absolute;
    width: 30%;
    height: 300px;
    top: 50%;
    background-color: #ffffffcc;
    left: 40%;
    @for $i from 0 through 25 {
      &:nth-child(#{$i}) {
        transform: translateZ(calc(var(--gap) * (#{$i} - 1) * -1px))
          translateX(-50%)
          translateY(-50%);
      }
    }
  }
</style>
