---
import AllTechnologies from "../components/AllTechnologies.astro"
import HeroFullstack from "../components/HeroFullstack.astro"
import Strengths from "../components/Strengths.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Développeur fullstack">
  <main>
    <HeroFullstack />
    <Strengths />
    <AllTechnologies />
  </main>
</Layout>