---
import BorderedButton from "./BorderedButton.astro";
import Partners from "./Partners.astro";
---

<section class='allTechnologies'>
  <h2 class='subtitle'>Mes technologies</h2>
  <h3>Mes technologies</h3>
  <p>Phrase sur les technos</p>
  <div class='technoGrid'>
    <div class='technoCard'>
      <h3>Front-end</h3>
      <hr />
      <ul>
        <li>Svelte</li>
        <li>React, Redux</li>
        <li>Vue, Vuex, Nuxt</li>
        <li>Pinia</li>
      </ul>
    </div>
    <div class='technoCard'>
      <h3>Back-end</h3>
      <hr />
      <ul>
        <li>Decap, Strapi, Tina</li>
        <li>NodeJS, Express, Loopback, NestJS</li>
      </ul>
    </div>
    <div class='technoCard'>
      <h3>CI / CD</h3>
      <hr />
      <ul>
        <li>Gihub actions</li>
        <li>Docker</li>
        <li>Kubernetes</li>
      </ul>
    </div>
    <div class='technoCard'>
      <h3>Tests</h3>
      <hr />
      <ul>
        <li>TDD, Tests Unitaires, Tests d'Intégration, Tests Fonctionnels</li>
        <li>Jest</li>
        <li>Clean Architecture</li>
      </ul>
    </div>
  </div>
  <BorderedButton link='/portfolio' addedClasses='centeredButton'
    >Voir mes réalisations</BorderedButton
  >
  <Partners inverted title={false} />
</section>

<style lang='scss'>
  .allTechnologies {
    padding: 0 12%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    background: url("/images/technologies.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    color: white;
    padding-bottom: 10rem;
    h2 {
      position: relative;
      left: -16%;
      text-align: left;
    }
    h3 {
      font-size: 2rem;
    }
    :global(.centeredButton) {
      align-self: center;
    }
    .technoGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      align-self: stretch;
      align-items: stretch;
      gap: 2rem;
      .technoCard {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        background: linear-gradient(
          225deg,
          rgba(255, 255, 255, 0.3) 1.22%,
          rgba(255, 255, 255, 0) 100%
        );
        border: 1px solid #ffffff80;
        border-radius: 1rem;
        backdrop-filter: blur(10px);
        h3 {
          font-size: 1.25rem;
        }
        hr {
          border-top: 1px solid #fff;
        }
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .allTechnologies {
      padding: 5rem 1rem 12rem 1rem;
      background: url("/images/technologies.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      h2 {
        left: -1rem;
      }
      .technoGrid {
        grid-template-columns: 1fr;
      }
    }
  }
</style>
