<section class="allTechnologies">
  <h2>
    Mes technologies
  </h2>
</section>

<style lang="scss">
  .allTechnologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: url("/images/bubbles.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    h2 {
      color: rgba(255, 255, 255, 0.4);
      font-weight: bold;
      font-size: 6rem;
      line-height: 0.9;
      max-width: 60vw;
      position: relative;
      text-align: center;
    }
  }
</style>