<div class='aurora'>
  <svg
    width='1591'
    height='1212'
    viewBox='0 0 1591 1212'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'
  >
    <!-- <g filter='url(#filter0_f_516_663)'> -->
      <path
        id='auroraPath'
        fill='url(#paint0_linear_516_663)'
        d='M307.932 949.63L96 1116L568.226 951.526C643.28 925.385 689.246 849.682 677.821 771.031C668.746 708.553 695.923 646.339 747.929 610.544L1495.5 96H1301.56C1184.8 96 1070.98 132.627 976.135 200.723L484.259 553.865C420.262 599.812 385.288 676.142 392.277 754.615C398.965 829.703 367.229 903.081 307.932 949.63Z'
      >
      </path>
    </g>
    <defs>
      <filter
        id='filter0_f_516_663'
        x='0.699997'
        y='0.699997'
        width='1590.1'
        height='1210.6'
        filterUnits='userSpaceOnUse'
        color-interpolation-filters='sRGB'
      >
        <feFlood flood-opacity='0' result='BackgroundImageFix'></feFlood>
        <feBlend
          mode='normal'
          in='SourceGraphic'
          in2='BackgroundImageFix'
          result='shape'></feBlend>
        <feGaussianBlur
          stdDeviation='47.65'
          result='effect1_foregroundBlur_516_663'></feGaussianBlur>
      </filter>
      <linearGradient
        id='paint0_linear_516_663'
        x1='1118.5'
        y1='23.5'
        x2='795.75'
        y2='1116'
        gradientUnits='userSpaceOnUse'
      >
        <stop stop-color='#060A1900'></stop>
        <stop offset='1' stop-color='#00BC84'></stop>
      </linearGradient>
    </defs>
  </svg>
</div>

<style lang='scss'>
  .aurora {
    position: absolute;
    width: 1591px;
    height: 1212px;
    top: 0;
    left: 0;

    #auroraPath {
      transition: 2s;
      &:hover {
        d: path(
          "M245.327 955.807L96 1116L396.826 951.599C484.972 903.427 558.48 832.355 609.593 745.881L663.972 653.882C728.402 544.879 827.989 461.03 946.374 416.109L1790 96H1235.91C1160.74 96 1086.36 111.186 1017.21 140.645L720.732 266.951C566.209 332.782 449.559 464.715 403.154 626.139L373.442 729.494C349.158 813.969 305.261 891.512 245.327 955.807Z"
        );
      }
    }
  }
</style>
