---
const { addedClasses = "", color = "white" } = Astro.props;
---

<button class=`borderedButton ${addedClasses}`>
  <slot />
</button>

<style lang='scss'>
  .borderedButton {
    color: white;
    position: relative; /* or absolute */
    background: #FFFFFF0A;
    border: 1px solid white;
    border-radius: 5rem;
    padding: 2rem;
    backdrop-filter: blur(5px);
    white-space: nowrap;
    width: max-content;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 2.5rem;
      width: calc(50% - 2.5rem);
      height: 10px;
      background: radial-gradient(farthest-side, #ffffff, #ffffff00);
      transform: translate(0, -55%);
      transition: transform 0.2s ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 2.5rem;
      width: calc(50% - 2.5rem);
      height: 10px;
      background: radial-gradient(farthest-side, #ffffff, #ffffff00);
      transform: translate(0, 55%);
      transition: transform 0.2s ease-in-out;
    }
    &:hover {
      &::before {
        transform: translate(100%, -55%);
      }
      &::after {
        transform: translate(-100%, 55%);
      }
    }  }
</style>
