---
import CubeSkew from "./CubeSkew.astro";
---

<div class='cubeWrapper'>
  <div class='cube'>
    <div class='face' id='face1'>front</div>
    <div class='face' id='face2'>right</div>
    <div class='face' id='face3'>back</div>
    <div class='face' id='face4'>left</div>
    <div class='face' id='face5'>top</div>
    <div class='face' id='face6'>bottom</div>
  </div>
</div>

<style lang='scss'>
  .cubeWrapper {
    position: relative;
    width: 300px;
    height: 300px;
    perspective: 600px;
    perspective-origin: 110% -10%;
  }
  .cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    backface-visibility: visible;
  }
  .face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid;
    border-image-source: linear-gradient(
      45.41deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100.81%
    );
    border-image-slice: 1;
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 0.7) 1.22%,
      rgba(255, 255, 255, 0) 100%
    );
    color: black;
    font-size: 5em;
  }
  #face1 {
    transform: rotateY(0deg) translateZ(100px);
    backdrop-filter: blur(5px);
  }
  #face2 {
    transform: rotateY(90deg) translateZ(100px);
    backdrop-filter: blur(5px);
  }
  #face3 {
    transform: rotateY(180deg) translateZ(100px);
  }
  #face4 {
    transform: rotateY(-90deg) translateZ(100px);
  }
  #face5 {
    transform: rotateX(90deg) translateZ(100px);
    backdrop-filter: blur(5px);
  }
  #face6 {
    transform: rotateX(-90deg) translateZ(100px);
  }
</style>
