<section class='ecoconception' id='ecoconception'>
  <h2 class='subtitle'>Eco-conception</h2>
  <div class='content'>
    <h3>Ce qu'un site éco-conçu n'est pas ?</h3>
    <ul>
      <li>
        Un Wordpress. Un site éco-conçu ne laisse pas de serveur ni de base de
        données allumés quand ce n'est pas nécessaire.
      </li>
      <li>
        Un site en noir et blanc. Economiser des pixels ne représente pas une
        économie d'énergie significative.
      </li>
      <li>
        Un site sans image. Bien optimisés, les medias ne sont pas un problème.
      </li>
      <li>
        Un site figé. Les animations correctement conçues sont peu gourmandes en
        ressources.
      </li>
      <li>
        Un site impossible à modifier en temps réel. Les technologies modernes
        permettent de modifier vos pages en gardant un impact minimal sur
        l'environnement.
      </li>
    </ul>
  </div>
  <div class='peacock'>
    <img src='/images/peacock.webp' alt='Peacock' width='747' height='783' />
  </div>
</section>

<style lang='scss'>
  .ecoconception {
    min-height: 100vh;
    background: #011120;
    position: relative;
    padding: 0 12%;
    padding-bottom: 191px;
    padding-top: 10rem;
    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(1, 1, 1, 0) 0%,
        #020202 38.84%,
        #011120 97.79%,
        rgba(0, 18, 34, 0) 143.9%
      );
      height: 100vh;
      width: 100vw;
      left: 0;
      bottom: 80%;
    }
    h2 {
      z-index: 2;
      margin-left: -15.79%;
      margin-bottom: 10rem;
      position: relative;
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      color: white;
      width: 50%;
      padding-bottom: 2rem;
      h3 {
        color: white;
        font-size: 2rem;
        text-shadow: var(--text-shadow);
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
    .peacock {
      position: absolute;
      bottom: 191px;
      right: 12%;
      height: 50vh;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: radial-gradient(
          closest-side,
          #01112000,
          #01112000 50%,
          #011120
        );
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .ecoconception {
      padding: 10rem 1rem;
      padding-bottom: 145px;
      gap: 5rem;
      h2 {
        font-size: 3rem;
        margin-bottom: 5rem;
        margin-left: -1rem;
      }
      .content {
        width: 100%;
        h3 {
          font-size: 1.5rem;
        }
        ul {
          margin-left: 1rem;
        }
      }
      .peacock {
        position: relative;
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
      }
    }
  }
</style>
