<section class='ecoconception'>
  <h2 class="subtitle">Eco-conception</h2>
  <div class='content'>
    <h3>Ce que l'eco-conception n'est pas</h3>
    <ul>
      <li>Du gros caca</li>
      <li>Du gros caca</li>
      <li>Du gros caca</li>
      <li>Du gros caca</li>
      <li>Du gros caca</li>
      <li>Du gros caca</li>
      <li>Du gros caca</li>
      <li>Du gros caca</li>
    </ul>
  </div>
  <div class="peacock">
    <img src="/images/peacock.webp" alt="Peacock" width="747" height="783">
  </div>
</section>

<style lang='scss'>
  .ecoconception {
    min-height: 100vh;
    background: #011120;
    position: relative;
    padding: 0 12%;
    padding-bottom: 191px;
    padding-top: 10rem;
    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(103, 137, 99, 0) 0%,
        rgba(70, 112, 74, 0.267402) 10.38%,
        rgba(31, 69, 41, 0.71) 22.25%,
        #114028 38.84%,
        #00121c 97.79%,
        rgba(0, 18, 34, 0) 143.9%
      );
      height: 100vh;
      width: 100vw;
      left: 0;
      bottom: 80%;
    }
    h2 {
      z-index: 2;
      margin-left: -15.79%;
      margin-bottom: 10rem;
      position: relative;
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      color: white;
      width: 50%;
      padding-bottom: 2rem;
      h3 {
        color: white;
        font-size: 2rem;
        text-shadow:
          0px 0px 20px #000000,
          0px 0px 0.2em #000000;
      }
      ul {
        list-style-type: none;
      }
    }
    .peacock {
      position: absolute;
      bottom: 191px;
      right: 12%;
      height: 50vh;
      overflow: hidden;
      &::before {
        content: '';
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: radial-gradient(closest-side, #01112000, #01112000 50%, #011120);
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .ecoconception {
      padding: 10rem 1rem;
      padding-bottom: 145px;
      gap: 5rem;
      h2 {
        font-size: 3rem;
        margin-bottom: 5rem;
        margin-left: -1rem;
      }
      .content {
        width: 100%;
        h3 {
          font-size: 1.5rem;
        }
      }
      .peacock {
        position: relative;
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
      }
    }
  }
</style>
