<footer>
  <div class='links'>
    <a href='#'>Mentions Légales</a>
    <a target='blank' href='www.linkedin.com/in/kevin-lanvin-0208281b5'>LinkedIn</a>
  </div>
  <span class='design'
    >Website designed by <a target='blank' href='https://www.malt.fr/profile/mgdg'
      ><strong>MGDG</strong></a
    ></span
  >
</footer>

<style lang='scss'>
  footer {
    width: 76%;
    position: absolute;
    z-index: 50;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-top: 1px solid white;
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  .links {
    display: flex;
    gap: 5rem;
    a {
      color: white;
    }
  }
  .design {
    font-size: 1rem;
    position: relative;
    transform: rotate(-2.5deg);
    a {
      color: white;
      text-decoration: underline;
    }
    &::after {
      content: "";
      background: url("/images/designArrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 220px;
      height: 71px;
      position: absolute;
      top: 50%;
      right: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    footer {
      flex-direction: column;
      padding: 2rem 0;
      width: calc(100% - 2rem);
      gap: 2rem;
      height: max-content;
      .links {
        justify-content: space-between;
      }
      .design {
        font-size: 1rem;
        text-align: center;
        &::after {
          display: none;
        }
      }
    }
  }
</style>
