---
import BorderedButton from "./BorderedButton.astro";
import Logo from "./Logo.astro";
---

<header>
  <a id='logo' href='/'>
    <Logo />
  </a>
  <nav>
    <span class="intro">Vous souhaitez :</span>
    <a href='/services'>Un site web</a>
    <a href='/services'>Un dev fullstack</a>
    <a href='/portfolio'>Voir mes réalisations</a>
    <a href='/qui-je-suis'>Savoir qui je suis</a>
  </nav>
  <BorderedButton addedClasses="headerButton"
    >Me contacter
  </BorderedButton>
</header>

<style lang='scss'>
  header {
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 2em 12%;
    backdrop-filter: blur(10px); 
    background: linear-gradient(191.71deg, rgba(0, 0, 0, 0.63) 1.22%, rgba(0, 0, 0, 0.07) 92.57%);
    z-index: 500;
  }
  #logo {
    margin-right: auto;
    position: relative;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1em 3em;
    position: relative;
    overflow: hidden;
    font-size: 1.25rem;
    .intro {
      font-style: italic;
      color: white;
      font-weight: 300;
    }
    a {
      color: white;
      text-decoration: none;
      padding: 1em;
    }
  }
  :global(.headerButton) {
    font-size: 1.5rem;
  }
</style>
