<section class='heroFullStack'>
  <h1>
    Des <strong>sites web</strong> pour les <em>grands</em> et les <span
      class='boldIt'>petits projets</span
    >
  </h1>
</section>

<style lang="scss">
  .heroFullStack {
    background: url('/images/banquise.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: white;
      font-size: 4rem;
      font-family: Poppins;
      font-weight: 300;
      text-align: center;
      max-width: 60rem;
      line-height: 1.125em;
      z-index: 2;
      text-shadow:
        0px 0px 20px #000000aa,
        0px 0px 0.2em #000000aa;
      strong {
        font-weight: 900;
      }
      em {
        font-weight: 200;
      }
      .boldIt {
        font-weight: bold;
        font-style: italic;
      }
    }
  }
</style>