---

---

<section id='hero'>
  <div id='title'>
    <h1></h1>
  </div>
  <div class='contactWrapper'>
    <div class='contactAvatar'>
      <img src='/images/avatar.png' alt='Kevin Lanvin' />
    </div>
    <span>Hello, je suis Kévin !</span>
  </div>
</section>

<script>
  const hero = document.getElementById("hero");
  const title = document.getElementById("title");
  hero.addEventListener("mousemove", (event) => {
    let xOffset = event.offsetX - title.offsetLeft;
    xOffset = Math.max(0, xOffset);
    xOffset = Math.min(title.offsetWidth, xOffset);
    let yOffset = event.offsetY - title.offsetTop;
    yOffset = Math.max(0, yOffset);
    yOffset = Math.min(title.offsetHeight, yOffset);
    title.style.setProperty("--translateX", `${xOffset}px`);
    title.style.setProperty("--translateY", `${yOffset}px`);
  });
</script>

<style lang='scss'>
  #hero {
    padding: 10em 0;
    height: calc(100vh - 165px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      background-image: url("/images/fog1large.png");
      background-repeat: repeat-x;
      width: 5000px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation:
        fog1movement 10s linear infinite forwards,
        fog1opacity 20s linear infinite alternate;
    }
    &::before {
      content: "";
      background-image: url("/images/fog1large.png");
      background-repeat: repeat-x;
      width: 5000px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation:
        fog1movement 17s linear infinite forwards,
        fog1opacity 15s linear infinite alternate;
    }
  }
  #title {
    transform: translateY(-165px);
    h1 {
      clip-path: path(
        "M21.1615 9.088C43.1455 9.088 56.6815 21.952 56.6815 42.688C56.6815 63.424 43.1455 76 21.1615 76H0.329501V9.088H21.1615ZM9.0655 68.8H21.1615C38.6335 68.8 47.7535 59.008 47.7535 42.688C47.7535 26.368 38.6335 16.192 21.1615 16.192H9.0655V68.8ZM90.5725 29.92C82.0285 29.92 74.9245 35.584 73.9645 45.856H107.181C107.277 35.584 99.5965 29.92 90.5725 29.92ZM115.149 59.776C112.461 69.376 104.013 76.864 90.9565 76.864C75.9805 76.864 64.9405 66.304 64.9405 49.6C64.9405 32.992 75.5965 22.528 90.9565 22.528C106.221 22.528 116.205 33.28 116.205 47.68C116.205 49.6 116.109 51.136 115.917 52.96H73.8685C74.5405 63.616 82.0285 69.472 90.9565 69.472C98.8285 69.472 103.821 65.44 105.741 59.776H115.149ZM79.5325 12.928L99.9805 0.927994V8.512L79.5325 19.456V12.928ZM121.496 23.392H130.904L147.32 67.936L163.64 23.392H172.952L152.312 76H142.136L121.496 23.392ZM203.916 29.92C195.372 29.92 188.268 35.584 187.308 45.856H220.524C220.62 35.584 212.94 29.92 203.916 29.92ZM228.492 59.776C225.804 69.376 217.356 76.864 204.3 76.864C189.324 76.864 178.284 66.304 178.284 49.6C178.284 32.992 188.94 22.528 204.3 22.528C219.564 22.528 229.548 33.28 229.548 47.68C229.548 49.6 229.452 51.136 229.26 52.96H187.212C187.884 63.616 195.372 69.472 204.3 69.472C212.172 69.472 217.164 65.44 219.084 59.776H228.492ZM241.08 76V4.96H249.816V76H241.08ZM314.625 49.6C314.625 66.304 302.625 76.864 287.649 76.864C272.769 76.864 261.441 66.304 261.441 49.6C261.441 32.992 273.153 22.528 288.033 22.528C303.009 22.528 314.625 32.992 314.625 49.6ZM270.369 49.6C270.369 62.944 278.529 69.184 287.649 69.184C296.769 69.184 305.697 62.944 305.697 49.6C305.697 36.352 296.961 30.112 287.937 30.112C278.721 30.112 270.369 36.352 270.369 49.6ZM334.847 33.088C338.015 27.52 344.927 22.528 354.527 22.528C368.639 22.528 379.487 33.088 379.487 49.504C379.487 65.824 368.639 76.864 354.527 76.864C344.927 76.864 338.111 71.68 334.847 66.304V100.96H326.111V23.392H334.847V33.088ZM370.559 49.504C370.559 37.12 362.399 30.112 352.703 30.112C343.199 30.112 334.847 37.408 334.847 49.6C334.847 61.984 343.199 69.184 352.703 69.184C362.399 69.184 370.559 61.888 370.559 49.504ZM399.722 33.088C402.89 27.52 409.802 22.528 419.402 22.528C433.514 22.528 444.362 33.088 444.362 49.504C444.362 65.824 433.514 76.864 419.402 76.864C409.802 76.864 402.986 71.68 399.722 66.304V100.96H390.986V23.392H399.722V33.088ZM435.434 49.504C435.434 37.12 427.274 30.112 417.578 30.112C408.074 30.112 399.722 37.408 399.722 49.6C399.722 61.984 408.074 69.184 417.578 69.184C427.274 69.184 435.434 61.888 435.434 49.504ZM478.229 29.92C469.685 29.92 462.581 35.584 461.621 45.856H494.837C494.933 35.584 487.253 29.92 478.229 29.92ZM502.805 59.776C500.117 69.376 491.669 76.864 478.613 76.864C463.637 76.864 452.597 66.304 452.597 49.6C452.597 32.992 463.253 22.528 478.613 22.528C493.877 22.528 503.861 33.28 503.861 47.68C503.861 49.6 503.765 51.136 503.573 52.96H461.525C462.197 63.616 469.685 69.472 478.613 69.472C486.485 69.472 491.477 65.44 493.397 59.776H502.805ZM562.048 23.392V76H553.312V68.224C549.952 73.696 543.52 76.768 536.512 76.768C524.416 76.768 514.912 69.28 514.912 54.208V23.392H523.552V53.056C523.552 63.712 529.408 69.184 538.24 69.184C547.264 69.184 553.312 63.616 553.312 52.288V23.392H562.048ZM585.534 47.392V76H576.798V23.392H585.534V31.936C588.51 26.08 594.174 22.432 602.526 22.432V31.456H600.222C591.87 31.456 585.534 35.2 585.534 47.392ZM648.477 76L631.965 23.392H640.893L652.989 67.552L666.045 23.392H674.973L687.741 67.648L699.645 23.392H708.285L691.869 76H682.845L670.173 34.24L657.501 76H648.477ZM739.323 29.92C730.779 29.92 723.674 35.584 722.715 45.856H755.931C756.027 35.584 748.347 29.92 739.323 29.92ZM763.899 59.776C761.211 69.376 752.763 76.864 739.707 76.864C724.731 76.864 713.691 66.304 713.691 49.6C713.691 32.992 724.347 22.528 739.707 22.528C754.971 22.528 764.955 33.28 764.955 47.68C764.955 49.6 764.859 51.136 764.667 52.96H722.619C723.291 63.616 730.779 69.472 739.707 69.472C747.579 69.472 752.571 65.44 754.491 59.776H763.899ZM785.222 33.184C788.582 27.328 795.59 22.528 804.902 22.528C819.11 22.528 829.862 33.088 829.862 49.504C829.862 65.824 819.014 76.864 804.902 76.864C795.302 76.864 788.486 72.064 785.222 66.304V76H776.486V4.96H785.222V33.184ZM820.934 49.504C820.934 37.12 812.774 30.112 803.078 30.112C793.574 30.112 785.222 37.408 785.222 49.6C785.222 61.984 793.574 69.184 803.078 69.184C812.774 69.184 820.934 61.888 820.934 49.504ZM833.777 89.728L840.785 63.904H850.385L839.633 89.728H833.777ZM883.778 76L892.226 27.712H884.45L885.122 23.872H892.898L893.57 20.224C895.49 9.568 901.25 4.096 914.114 4.096L913.442 7.936C903.266 7.936 899.426 11.776 897.986 20.224L897.314 23.872H910.85L910.178 27.712H896.642L888.098 76H883.778ZM965.979 23.872L956.763 76H952.443L954.459 64.768C950.043 72.832 941.787 76.864 933.243 76.864C921.627 76.864 913.371 69.952 916.059 54.208L921.531 23.872H925.755L920.379 53.92C918.171 66.688 924.027 73.12 934.491 73.12C945.339 73.12 954.267 66.304 956.667 51.808V52.096L961.659 23.872H965.979ZM972.512 76L985.088 4.96H989.408L976.832 76H972.512ZM992.668 76L1005.24 4.96H1009.56L996.988 76H992.668ZM63.5095 165.176C63.5095 174.2 55.3495 179.768 44.0215 179.768C33.6535 179.768 26.2615 174.776 27.0295 164.984H31.3495C30.7735 171.704 35.2855 176.12 44.3095 176.12C53.5255 176.12 59.1895 171.512 59.1895 165.272C59.1895 152.024 31.8295 157.496 31.8295 140.312C31.8295 131.864 39.7975 126.2 50.2615 126.2C60.4375 126.2 68.2135 132.248 66.9655 141.56H62.7415C63.7015 134.264 57.6535 129.752 49.8775 129.752C42.1975 129.752 36.1495 133.688 36.1495 140.216C36.1495 154.232 63.5095 148.664 63.5095 165.176ZM79.8363 165.08L85.9803 130.616H78.1083L78.7803 126.872H86.6523L88.9563 113.624H93.3723L91.0683 126.872H106.428L105.756 130.616H90.3963L84.2523 165.08C82.8123 172.952 85.1163 175.16 92.1243 175.16H97.8843L97.2123 179H90.6843C81.7563 179 78.1083 175.352 79.8363 165.08ZM110.526 152.888C113.406 136.376 125.79 126.2 140.478 126.2C151.902 126.2 158.43 132.632 159.966 140.504L162.366 126.872H166.686L157.374 179H153.15L155.55 165.272C151.326 173.24 142.398 179.768 130.878 179.768C116.382 179.768 107.646 169.304 110.526 152.888ZM157.758 152.888C160.254 138.968 152.574 129.944 140.382 129.944C127.806 129.944 117.438 138.488 114.942 152.888C112.446 167.288 119.646 175.928 132.222 175.928C144.414 175.928 155.262 167 157.758 152.888ZM175.119 152.888C178.095 136.28 190.479 126.2 205.071 126.2C218.415 126.2 225.711 133.4 225.807 144.248H221.295C221.199 135.32 214.575 129.848 204.399 129.848C193.359 129.848 182.319 137.24 179.535 152.888C176.751 168.632 185.199 176.024 196.239 176.024C206.415 176.024 214.863 170.648 218.223 161.624H222.831C218.799 172.28 208.911 179.768 195.567 179.768C180.975 179.768 172.143 169.592 175.119 152.888ZM232.824 179L245.4 107.96H249.72L242.232 150.488L268.728 126.872H274.776L244.92 152.792L265.848 179H259.896L241.368 155.096L237.144 179H232.824ZM262.826 193.496L274.443 168.92H279.435L266.186 193.496H262.826ZM342.943 137.816C337.567 137.816 333.439 141.08 332.479 147.032H353.023C353.023 141.176 348.415 137.816 342.943 137.816ZM368.575 161.24C365.983 171.704 356.479 179.768 343.135 179.768C327.391 179.768 316.063 169.208 316.063 152.216C316.063 135.224 327.199 124.664 343.135 124.664C358.783 124.664 369.823 135.032 369.823 151.352C369.823 152.888 369.727 154.52 369.535 156.152H332.383C332.959 163.16 337.279 166.424 342.559 166.424C347.167 166.424 349.759 164.12 351.103 161.24H368.575ZM415.443 179V149.912C415.443 142.616 411.411 138.584 405.171 138.584C398.931 138.584 394.899 142.616 394.899 149.912V179H378.483V125.432H394.899V132.536C398.163 128.024 403.923 124.856 411.123 124.856C423.507 124.856 431.763 133.304 431.763 147.704V179H415.443ZM465.147 179V139.064H459.195V125.432H465.147V123.896C465.147 109.88 473.787 102.968 490.107 103.832V117.752C483.771 117.368 481.562 119.288 481.562 124.952V125.432H490.395V139.064H481.562V179H465.147ZM514.524 154.136V179H498.108V125.432H514.524V134.36C518.268 128.696 524.124 124.856 531.324 124.856V142.232H526.812C519.036 142.232 514.524 144.92 514.524 154.136ZM562.787 137.816C557.411 137.816 553.283 141.08 552.323 147.032H572.867C572.867 141.176 568.259 137.816 562.787 137.816ZM588.419 161.24C585.827 171.704 576.323 179.768 562.979 179.768C547.235 179.768 535.907 169.208 535.907 152.216C535.907 135.224 547.043 124.664 562.979 124.664C578.627 124.664 589.667 135.032 589.667 151.352C589.667 152.888 589.571 154.52 589.379 156.152H552.227C552.803 163.16 557.123 166.424 562.403 166.424C567.011 166.424 569.603 164.12 570.947 161.24H588.419ZM621.943 137.816C616.567 137.816 612.439 141.08 611.479 147.032H632.023C632.023 141.176 627.415 137.816 621.943 137.816ZM647.575 161.24C644.983 171.704 635.479 179.768 622.135 179.768C606.391 179.768 595.063 169.208 595.063 152.216C595.063 135.224 606.199 124.664 622.135 124.664C637.783 124.664 648.823 135.032 648.823 151.352C648.823 152.888 648.727 154.52 648.535 156.152H611.383C611.959 163.16 616.279 166.424 621.559 166.424C626.167 166.424 628.759 164.12 630.103 161.24H647.575ZM657.483 179V107.96H673.899V179H657.483ZM682.532 152.12C682.532 135.224 692.996 124.664 706.148 124.664C714.116 124.664 719.78 128.312 722.66 133.016V125.432H739.076V179H722.66V171.416C719.684 176.12 714.02 179.768 706.052 179.768C692.996 179.768 682.532 169.016 682.532 152.12ZM722.66 152.216C722.66 143.672 717.188 138.968 710.948 138.968C704.804 138.968 699.236 143.576 699.236 152.12C699.236 160.664 704.804 165.464 710.948 165.464C717.188 165.464 722.66 160.76 722.66 152.216ZM787.912 179V149.912C787.912 142.616 783.88 138.584 777.64 138.584C771.4 138.584 767.368 142.616 767.368 149.912V179H750.952V125.432H767.368V132.536C770.632 128.024 776.392 124.856 783.592 124.856C795.976 124.856 804.232 133.304 804.232 147.704V179H787.912ZM812.376 152.216C812.376 135.32 823.512 124.664 839.256 124.664C852.696 124.664 862.2 132.056 864.984 144.824H847.512C846.168 141.08 843.48 138.68 838.968 138.68C833.112 138.68 829.08 143.288 829.08 152.216C829.08 161.144 833.112 165.752 838.968 165.752C843.48 165.752 846.072 163.544 847.512 159.608H864.984C862.2 171.992 852.696 179.768 839.256 179.768C823.512 179.768 812.376 169.208 812.376 152.216ZM897.381 137.816C892.005 137.816 887.877 141.08 886.917 147.032H907.461C907.461 141.176 902.853 137.816 897.381 137.816ZM923.013 161.24C920.421 171.704 910.917 179.768 897.573 179.768C881.829 179.768 870.501 169.208 870.501 152.216C870.501 135.224 881.637 124.664 897.573 124.664C913.221 124.664 924.26 135.032 924.26 151.352C924.26 152.888 924.165 154.52 923.973 156.152H886.821C887.397 163.16 891.717 166.424 896.997 166.424C901.605 166.424 904.197 164.12 905.541 161.24H923.013ZM351.394 255.504C351.394 239.088 362.242 228.528 376.354 228.528C386.146 228.528 392.866 233.52 395.938 238.992V229.392H404.77V282H395.938V272.208C392.77 277.872 385.954 282.864 376.258 282.864C362.242 282.864 351.394 271.824 351.394 255.504ZM395.938 255.6C395.938 243.408 387.682 236.112 378.082 236.112C368.482 236.112 360.322 243.12 360.322 255.504C360.322 267.888 368.482 275.184 378.082 275.184C387.682 275.184 395.938 267.984 395.938 255.6ZM368.674 214.512V206.928L389.122 218.928V225.456L368.674 214.512ZM445.126 215.088H453.862V274.896H477.286V282H445.126V215.088ZM486.564 282V229.392H495.3V282H486.564ZM491.076 220.848C487.716 220.848 485.124 218.256 485.124 214.896C485.124 211.536 487.716 208.944 491.076 208.944C494.244 208.944 496.836 211.536 496.836 214.896C496.836 218.256 494.244 220.848 491.076 220.848ZM510.189 282V210.96H518.925V282H510.189ZM533.814 282V210.96H542.55V282H533.814ZM579.807 235.92C571.263 235.92 564.159 241.584 563.199 251.856H596.415C596.511 241.584 588.831 235.92 579.807 235.92ZM604.383 265.776C601.695 275.376 593.247 282.864 580.191 282.864C565.215 282.864 554.175 272.304 554.175 255.6C554.175 238.992 564.831 228.528 580.191 228.528C595.455 228.528 605.439 239.28 605.439 253.68C605.439 255.6 605.343 257.136 605.151 258.96H563.103C563.775 269.616 571.263 275.472 580.191 275.472C588.063 275.472 593.055 271.44 594.975 265.776H604.383ZM625.514 276.624C625.514 279.984 622.922 282.576 619.754 282.576C616.394 282.576 613.802 279.984 613.802 276.624C613.802 273.264 616.394 270.672 619.754 270.672C622.922 270.672 625.514 273.264 625.514 276.624Z"
      );
      width: 1010px;
      height: 283px;
      margin: 0;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2400px;
        height: 2400px;
        background: radial-gradient(
          circle at 50% 50%,
          white,
          white 15%,
          rgba(255, 255, 255, 0.1) 25%,
          rgba(255, 255, 255, 0.1)
        );
        transform: translate(
          calc(-50% + var(--translateX)),
          calc(-50% + var(--translateY))
        );
        transform-origin: center center;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1010px;
        height: 566px;
        background: linear-gradient(
          0deg,
          #eee,
          rgba(238, 238, 238, 0.6) 75%,
          rgba(238, 238, 238, 0.6)
        );
        transform-origin: center center;
        animation: float 2s infinite alternate forwards ease-in-out;
      }
    }
    width: 1010px;
    height: 283px;
    position: relative;
    display: block;
    --translateX: "0px";
    --translateY: "0px";
  }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @keyframes float {
    0% {
      transform: transtaleY(0%);
    }
    100% {
      transform: translateY(-50%);
    }
  }

  @keyframes fog1opacity {
    0% {
      opacity: 0.5;
    }
    10% {
      opacity: 0.8;
    }
    20% {
      opacity: 0.7;
    }
    30% {
      opacity: 0.6;
    }
    40% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.5;
    }
    60% {
      opacity: 0.7;
    }
    70% {
      opacity: 0.9;
    }
    80% {
      opacity: 0.9;
    }
    90% {
      opacity: 0.7;
    }
    100% {
      opacity: 0.6;
    }
  }

  @keyframes fog1movement {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-1000px);
    }
  }

  .contactWrapper {
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 15rem;
    height: 15rem;
    z-index: 1;
    .contactAvatar {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid white;
      border-radius: 50%;
      background: linear-gradient(
        225deg,
        rgba(255, 255, 255, 0.7) 1.22%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translateY(20%);
      animation: floatContact 2s ease-in-out infinite alternate;
    }
    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
    span {
      position: absolute;
      color: white;
      top: -12rem;
      left: 0;
      font-size: 1.75rem;
      width: max-content;
      transform: rotate(-3deg);
      text-shadow: 0px 4px 10px #000000;
    }
    &::after {
      content: url('/images/avatarArrow.svg');
      position: absolute;
      bottom: 60%;
      left: 33%;
    }
  }

  @keyframes floatContact {
    from {
      transform: translateY(20%);
    }
    to {
      transform: translateY(25%);
    }
  }
</style>
