---
import BorderedButton from "./BorderedButton.astro";
---

<section class='lastWork'>
  <h2 class='subtitle'>Dernière aventure web</h2>
  <div class='lastWorkContent'>
    <div class='gridText'>
      <h3>Découvrez ma dernière réalisation web</h3>
      <p>
        Refonte d'un site vitrine clé en main en partenariat avec l'agence
        lilloise Dalt.
      </p>
      <ul>
        <li>Amélioration de l'expérience utilisateur</li>
        <li>Amélioration des performances</li>
        <li>Refonte complète du tunnel de commande</li>
      </ul>
      <BorderedButton link='portfolio'
        >Découvrez mes réalisations
      </BorderedButton>
    </div>
    <div class='gridImage'>
      <img
        width='1076'
        height='980'
        src='/images/lastwork.webp'
        alt='Last work'
        sizes='(max-width: 600px) calc(100vw -2rem), 60vw'
      />
    </div>
  </div>
</section>

<style lang='scss'>
  .lastWork {
    background: url("/images/bg2.webp");
    background-size: cover;
    background-position: bottom;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding-top: 35rem;
    h2 {
      align-self: flex-end;
      z-index: 12;
      text-align: right;
    }
    h3 {
      color: white;
      font-size: 2rem;
      text-shadow: var(--text-shadow);
    }
    .gridText {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
      max-width: 40%;
      min-width: 30rem;
      color: white;
      line-height: 2rem;
    }
    .lastWorkContent {
      display: flex;
      gap: 5rem;
      margin: 0 12%;
      z-index: 1;
    }
    .gridImage {
      flex: 1;
      min-width: 0;
      z-index: 10;
      :global(img) {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .lastWork {
      padding: 0 1rem;
      padding-top: 40rem;
      gap: 5rem;
      h2 {
        font-size: 3rem;
        margin-right: -1rem;
        max-width: 80vw;
        text-align: end;
      }
      .lastWorkContent {
        flex-direction: column;
        margin: 0;
        margin-bottom: 5rem;
      }
      .gridText {
        width: 100%;
        margin: 0;
        gap: 2rem;
        order: 2;
        z-index: 2;
        align-items: center;
        min-width: 100%;
        p {
          width: 100%;
          font-size: 1rem;
        }
        ul {
          margin-left: 1rem;
        }
      }
      .gridImage {
        width: 100%;
        order: 1;
        padding-top: 0;
        img {
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }
</style>
