---
import BorderedButton from "./BorderedButton.astro";
---

<section class='lastWork'>
  <h2 class="subtitle">Last work</h2>
  <div class='lastWorkGrid'>
    <div class="gridText">
      <p>
        Paragraphe sur la dernière TOP réalisation paragraphe sur la dernière
        TOP réalisation paragraphe sur la dernière TOP réalisation
      </p>
      <BorderedButton link="portfolio"
        >Découvrir mes réalisations
      </BorderedButton>
    </div>
    <div class='gridImage'>
      <img src='/images/lastWork.png' alt='Last work' />
    </div>
  </div>
</section>

<style lang='scss'>
  .lastWork {
    background: url("/images/bg2.webp");
    background-size: cover;
    background-position: bottom;
    min-height: calc(127vw - 70rem);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding-top: 20rem;
    h2 {
      align-self: flex-end;
      z-index: 12;
    }
    p {
      color: white;
    }
    .gridText {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      gap: 5rem;
      align-items: flex-start;
    }
    .lastWorkGrid {
      display: grid;
      grid-template-columns: 30% 1fr;
      margin: 0 12%;
    }
    .gridImage {
      padding-top: 5rem;
    }
  }

  @media screen and (max-width: 600px) {
    .lastWork {
      padding: 0 1rem;
      padding-top: 10rem;
      gap: 5rem;
      h2 {
        font-size: 3rem;
        margin-right: -1rem;
        max-width: 80vw;
        text-align: end;
      }
      .lastWorkGrid {
        grid-template-columns: 1fr;
        margin: 0;
        margin-bottom: 5rem;
      }
      .gridText {
        width: 100%;
        margin: 0;
        gap: 2rem;
        order: 2;
        z-index: 2;
        align-items: center;
        p {
          width: 100%;
          font-size: 1rem;
        }
      }
      .gridImage {
        width: 100%;
        order: 1;
        padding-top: 0;
        img {
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }
</style>
