<section class="lastWork">
  <h2>Last work</h2>
</section>

<style lang="scss">
  .lastWork {
    background: url('/images/bg2.jpg');
    background-size: 100%;
    background-position: center;
    min-height: 100vh;
    position: relative;
    h2 {
      color: rgba(255, 255, 255, 0.4);
      font-weight: bold;
      font-size: 11rem;
      line-height: 1;
      max-width: 60vw;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }
  }
</style>