<section class="partners">
  <img class="partner" src="/images/inria.png" alt="Logo Inria">
  <img class="partner" src="/images/adeo.svg" alt="Logo Adeo">
  <img class="partner" src="/images/labanquise.svg" alt="Logo Labanquise">
  <img class="partner" src="/images/alacrite.png" alt="Logo Alacrite">
  <img class="partner" src="/images/dalt.svg" alt="Logo Dalt">
</section>

<style lang="scss">
  .partners {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 5rem;
    padding: 5rem 12%;
    filter: grayscale(1);
    .partner {
      height: 100px;
    }
  }
  @media screen and (max-width: 600px) {
    .partners {
      padding: 2rem 1rem;
      gap: 1rem;
      row-gap: 2rem;
      flex-wrap: wrap;
      .partner {
        height: 50px;
      }
    }
  }
</style>