---
import Dalt from "./PartnerLogos/dalt.astro";
import Lamie from "./PartnerLogos/lamie.astro";
import Spreadthelive from "./PartnerLogos/spreadthelive.astro";
import Labanquise from "./PartnerLogos/labanquise.astro";
import Inria from "./PartnerLogos/inria.astro";
import Pauline from "./PartnerLogos/pauline.astro";
import Adeo from "./PartnerLogos/adeo.astro";
import Alacrite from "./PartnerLogos/alacrite.astro";
import DaltWhite from "./PartnerLogos/dalt-white.astro";
import LamieWhite from "./PartnerLogos/lamie-white.astro";
import SpreadtheliveWhite from "./PartnerLogos/spreadthelive-white.astro";
import LabanquiseWhite from "./PartnerLogos/labanquise-white.astro";
import InriaWhite from "./PartnerLogos/inria-white.astro";
import PaulineWhite from "./PartnerLogos/pauline-white.astro";
import AdeoWhite from "./PartnerLogos/adeo-white.astro";
import AlacriteWhite from "./PartnerLogos/alacrite-white.astro";
const { inverted = false, title = true } = Astro.props;
---

<section class='partnersSection'>
  {title && <h2>Ils m'ont fait confiance</h2>}
  <div class='partnersContainer'>
    <div class='partners'>
      {
        inverted ? (
          <>
            <DaltWhite />
            <LamieWhite />
            <SpreadtheliveWhite />
            <LabanquiseWhite />
            <InriaWhite />
            <PaulineWhite />
            <AdeoWhite />
            <AlacriteWhite />
          </>
        ) : (
          <>
            <Dalt />
            <Lamie />
            <Spreadthelive />
            <Labanquise />
            <Inria />
            <Pauline />
            <Adeo />
            <Alacrite />
          </>
        )
      }
    </div>
    <div class='partners partnersMobile'>
      {
        inverted ? (
          <>
            <DaltWhite />
            <LamieWhite />
            <SpreadtheliveWhite />
            <LabanquiseWhite />
            <InriaWhite />
            <PaulineWhite />
            <AdeoWhite />
            <AlacriteWhite />
          </>
        ) : (
          <>
            <Dalt />
            <Lamie />
            <Spreadthelive />
            <Labanquise />
            <Inria />
            <Pauline />
            <Adeo />
            <Alacrite />
          </>
        )
      }
    </div>
  </div>
</section>

<style lang='scss'>
  .partnersSection {
    padding: 5rem 12%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  h2 {
    text-align: center;
    color: #4f4f4f;
    font-size: 2rem;
  }
  .partnersContainer {
    display: flex;
    gap: 2rem;
  }
  .partners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 5rem;
    row-gap: 2rem;
    :global(svg) {
      height: 50px;
    }
  }
  .partnersMobile {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .partnersSection {
      padding: 2rem 1rem;
      gap: 2rem;
    }
    h2 {
      font-size: 1.25rem;
    }
    .partnersContainer {
      animation: scrollPartners 15s infinite linear;
      width: fit-content;
      justify-content: space-around;
    }
    .partners {
      gap: 2rem;
      row-gap: 2rem;
      flex-wrap: nowrap;
      width: max-content;
      justify-content: space-around;
      :global(svg) {
        height: 30px;
      }
    }
    .partnersMobile {
      display: flex;
    }
    @keyframes scrollPartners {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-50% - 1rem));
      }
    }
  }
</style>
