---
import Dalt from "./PartnerLogos/dalt.astro";
import Lamie from "./PartnerLogos/lamie.astro";
import Spreadthelive from "./PartnerLogos/spreadthelive.astro";
import Labanquise from "./PartnerLogos/labanquise.astro";
import Inria from "./PartnerLogos/inria.astro";
import Pauline from "./PartnerLogos/pauline.astro";
import Adeo from "./PartnerLogos/adeo.astro";
import Alacrite from "./PartnerLogos/alacrite.astro";
import DaltWhite from "./PartnerLogos/dalt-white.astro";
import LamieWhite from "./PartnerLogos/lamie-white.astro";
import SpreadtheliveWhite from "./PartnerLogos/spreadthelive-white.astro";
import LabanquiseWhite from "./PartnerLogos/labanquise-white.astro";
import InriaWhite from "./PartnerLogos/inria-white.astro";
import PaulineWhite from "./PartnerLogos/pauline-white.astro";
import AdeoWhite from "./PartnerLogos/adeo-white.astro";
import AlacriteWhite from "./PartnerLogos/alacrite-white.astro";
const { inverted = false, title = true } = Astro.props;
---

<section class="partnersSection">
  <h2>Ils m'ont fait confiance</h2>
  <div class='partners'>
    {
    inverted ? (
      <>
        <DaltWhite />
        <LamieWhite />
        <SpreadtheliveWhite />
        <LabanquiseWhite />
        <InriaWhite />
        <PaulineWhite />
        <AdeoWhite />
        <AlacriteWhite />
      </>
    ) : (
      <>
        <Dalt />
        <Lamie />
        <Spreadthelive />
        <Labanquise />
        <Inria />
        <Pauline />
        <Adeo />
        <Alacrite />
        </>
        )
      }
</div>
</section>

<style lang='scss'>
  .partnersSection {
    padding: 5rem 12%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  h2 {
    text-align: center;
    color: #4f4f4f;
    font-size: 2rem;
  }
  .partners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 5rem;
    row-gap: 2rem;
    :global(svg) {
      height: 50px;
    }
  }
  @media screen and (max-width: 600px) {
    .partnersSection {
      padding: 2rem 1rem;
      gap: 2rem;
    }
    h2 {
      font-size: 1.25rem;
    }
    .partners {
      padding-left: 100vw;
      gap: 2rem;
      row-gap: 2rem;
      flex-wrap: nowrap;
      width: max-content;
      animation: scrollPartners 20s infinite linear;
      :global(svg) {
        height: 30px;
      }
    }
    @keyframes scrollPartners {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
  }
</style>
