---
import BorderedButton from "./BorderedButton.astro";

const { className, clientName, projectDescription, link, linkLabel } = Astro.props;
---

<div class=`projectCard ${className}`>
  <slot />
  <div class="description">
    <h2>{clientName}</h2>
    <p>{projectDescription}</p>
    {link && <BorderedButton>{linkLabel}</BorderedButton>}
  </div>
</div>

<style lang='scss'>
  .projectCard {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .description {
    position: relative;
    color: white;
    left: 25%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    &::before {
      content: "";
      position: absolute;
      width: 10%;
      height: 100%;
      right: 105%;
      background: url("/images/projectDescriptionArrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: right;
    }
  }

  @media screen and (max-width: 600px) {
    .projectCard {
      gap: 1rem;
    }
    .description {
      left: 0;
      &::before {
        display: none;
      }
      h2 {
        font-size: 1.25rem;
      }
    }
  }
</style>
