<section class='simpleSection'>
  <div class="sectionContent">
    <div class='incomingArrow'></div>
    <div class='border-container'>
      <div class="borderLeft"></div>
      <div class="borderRight"></div>
      <p>
        Phrase sur la notion de fullstack (donc en vue de rejoindre une équipe)
      </p>
    </div>
    <div class='leavingArrow'></div>
  </div>
</section>

<style lang='scss'>
  .simpleSection {
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 10rem calc(12% - 10px);
    box-shadow: 0px -100px 100px 50px #0e0e0e;
    min-height: 100vh;
    position: relative;
    .sectionContent {
      position: relative;
    }
    .incomingArrow {
      clip-path: path("M202.5 222.5V0.5H205.5V222.5C205.5 238.24 192.74 251 177 251H28.5C14.4167 251 3 262.417 3 276.5V477H0V276.5C0 260.76 12.7599 248 28.5 248H177C191.083 248 202.5 236.583 202.5 222.5Z");
      width: 205px;
      height: 475px;
      position: absolute;
      bottom: 100%;
      left: 50%;
      z-index: 1;
      &::before {
        content: "";
        width: 200%;
        height: 200%;
        background: conic-gradient(
          from 90deg at 100% 100%,
          #ffffff00 49%,
          #ffffff 50%,
          #ffffff00 53%
        );
        position: absolute;
        right: -50%;
        bottom: 0;
        transform-origin: 100% 100%;
        animation: rotateArrow 5s linear infinite;
      }
    }
    .leavingArrow {
      clip-path: path("M0 0H5L2.50024 350L0 0Z");
      width: 5px;
      height: 350px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      &::before {
        content: "";
        width: 600px;
        height: 600px;
        background: conic-gradient(
          from 90deg at 100% 50%,
          #ffffff00 49%,
          #ffffff 50%,
          #ffffff00 53%
        );
        position: absolute;
        right: -200px;
        top: O;
        transform: translateY(-50%);
        transform-origin: 100% 50%;
        animation: rotateLeavingArrow 5s linear infinite;
      }
    }
    .border-container {
      padding: 5px;
      overflow: hidden;
      position: relative;
      z-index: 1;
      border-radius: 5rem;
      .borderLeft {
        position: absolute;
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: hidden;
        &::before {
          content: "";
          background: conic-gradient(
            from -90deg at 50% 50%,
            transparent 0%,
            transparent 24%,
            white 25%,
            transparent 30%,
            transparent
          );
          width: 300%;
          padding-top: 300%;
          position: absolute;
          z-index: -1;
          top: 50%;
          right: 0;
          animation: rotateBorderLeft 5s linear infinite;
          transform: translate(50%, -50%);
        }
      }
      .borderRight {
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;
        top: 0%;
        overflow: hidden;
        &::after {
          content: "";
          background: conic-gradient(
            from 90deg at 50% 50%,
            transparent 0%,
            transparent 70%,
            white 75%,
            transparent 76%,
            transparent
          );
          width: 300%;
          padding-top: 300%;
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 0;
          animation: rotateBorderRight 5s linear infinite;
          transform: translate(-50%, -50%);
        }
      }
    }
    p {
      color: white;
      font-size: 1.5rem;
      text-align: center;
      padding: 10rem;
      border-radius: 5rem;
      position: relative;
      background-color: #0e0e0e;
    }
  }

  @keyframes rotateBorderRight {
    0% {
      transform: translate(-50%, -50%) rotate(-5deg);
    }
    31% {
      transform: translate(-50%, -50%) rotate(-5deg);
    }
    33% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    66% {
      transform: translate(-50%, -50%) rotate(180deg);
    }
    68% {
      transform: translate(-50%, -50%) rotate(200deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(200deg);
    }
  }

  @keyframes rotateBorderLeft {
    0% {
      transform: translate(50%, -50%) rotate(5deg);
    }
    31% {
      transform: translate(50%, -50%) rotate(5deg);
    }
    33% {
      transform: translate(50%, -50%) rotate(0deg);
    }
    66% {
      transform: translate(50%, -50%) rotate(-180deg);
    }
    68% {
      transform: translate(50%, -50%) rotate(-200deg);
    }
    100% {
      transform: translate(50%, -50%) rotate(-200deg);
    }
  }

  @keyframes rotateArrow {
    0% {
      transform: rotate(90deg);
    }
    33% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(-20deg);
    }
  }

  @keyframes rotateLeavingArrow {
    0% {
      transform: translateY(-50%) rotate(90deg);
    }
    66% {
      transform: translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  @media screen and (max-width: 600px) {
    .simpleSection {
      padding: 5rem 1rem;
      p {
        padding: 2rem;
        font-size: 1.5rem;
        border-radius: 2rem;
      }
      .border-container {
        border-radius: 2rem;
      }
    }
  }
</style>
