<div class='squareHammer'>
  <div class='square'></div>
  <div class='square'>
    <span class='text'>Facilité d'utilisation et clef en main</span>
  </div>
  <div class='square'>
    <span class='text'>Facilité d'utilisation et clef en main</span>
  </div>
  <div class='square'>
    <span class='text'>Facilité d'utilisation et clef en main</span>
  </div>
</div>

<style lang='scss'>
  .squareHammer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: min-content;
    transform: translate(20%, 20%) rotate(-45deg);
    .square {
      width: 25rem;
      height: 25rem;
      border: 2px solid white;
      background: linear-gradient(
        225deg,
        rgba(255, 255, 255, 0.7) 1.22%,
        rgba(255, 255, 255, 0) 100%
      );
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      backdrop-filter: blur(5px);
      .text {
        text-align: center;
        transform: rotate(45deg);
        font-size: 1.25rem;
        color: #4f4f4f;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .squareHammer {
      gap: 1rem;
      .square {
        width: 10rem;
        height: 10rem;
        border-radius: 1rem;
        .text {
          font-size: 1rem;
        }
      }
    }
  }
</style>
