---

---

<div class='squareHammer'>
  <div class='square'></div>
  <div class='square'>
    <span class='text'>Facilité d'utilisation et clef en main</span>
  </div>
  <div class='square'>
    <span class='text'>Facilité d'utilisation et clef en main</span>
  </div>
  <div class='square'>
    <span class='text'>Facilité d'utilisation et clef en main</span>
  </div>
</div>

<style lang='scss'>
  .squareHammer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    width: min-content;
    transform: rotate(-45deg);
    .square {
      width: 30rem;
      height: 30rem;
      border: 2px solid white;
      background: linear-gradient(
        225deg,
        rgba(255, 255, 255, 0.7) 1.22%,
        rgba(255, 255, 255, 0) 100%
      );
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      backdrop-filter: blur(5px);
      .text {
        text-align: center;
        transform: rotate(45deg);
        font-size: 2rem;
      }
    }
  }
</style>
