<div class='squareHammer'>
  <div class='square'>
    <span class='text'>Design sur mesure</span>
  </div>
  <div class='square'>
    <span class='text'>Facilité d'utilisation et clef en main</span>
  </div>
  <div class='square'>
    <span class='text'>Performance, accessibilité et référencement</span>
  </div>
  <div class='square'>
    <span class='text'>Eco-conception</span>
  </div>
</div>

<style lang='scss'>
  .squareHammer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: min-content;
    transform: translate(20%, 20%) rotate(-45deg);
    .square {
      width: 12rem;
      height: 12rem;
      border: 2px solid white;
      background: linear-gradient(
        225deg,
        rgba(255, 255, 255, 0.7) 1.22%,
        rgba(255, 255, 255, 0) 100%
      );
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      backdrop-filter: blur(5px);
      .text {
        text-align: center;
        transform: rotate(45deg);
        color: #4f4f4f;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .squareHammer {
      gap: .5rem;
      .square {
        width: 7rem;
        height: 7rem;
        border-radius: 1rem;
        .text {
          font-size: .7rem;
        }
      }
    }
  }
</style>
