---
import Eclair from "./Eclair.astro";
---

<section class='strengths'>
  <h2 class='subtitle'>Pourquoi me choisir ?</h2>
  <Eclair />
  <div class='services'>
    <div class='service'>
      <h3>Développeur Fullstack à Lille et dans la métropole</h3>
      <p>
        J'interviens sur n'importe quel point de votre stack Javascript /
        Typescript en présentiel dans les environs de Lille ou en télétravail.
        Ayant une appétance pour le frontend, je suis opérationnel sur votre
        application React, Vue, ou Svelte. J'interviens également sur vos API en
        Node (Express, Loopback ou NestJS). Enfin, mes compétences en réseau et
        système me permettent d'intéragir aisément avec les différentes
        pipelines de CI/CD.
      </p>
    </div>
    <div class='service'>
      <h3>Qualité et maintenabilité</h3>
      <p>
        Je produis du travail qualitatif et maintenable. Formé à la clean
        architecture, au TDD et habitué à travailler avec les méthodologies de
        gestion de projet AGILE, il me tient à coeur de remplir les exigences de
        qualité de service et de maintenir une forte réutilisabilité du code tout
        en respectant les délais imposés. En front, je mets un point d'honneur à
        respecter les exigences en termes d'accessibilité, de performance et de
        SEO.
      </p>
    </div>
    <div class='service'>
      <h3>Sensible à l'éco-conception</h3>
      <p>
        Je peux apporter une nouvelle vision sur l'éco-conception de vos projets.
        Mes armes : le serverless, l'optimisation des algorithmes, la réduction
        en taille des medias et flux de données.
      </p>
    </div>
  </div>
</section>

<style lang='scss'>
  .strengths {
    background: linear-gradient(to bottom, #141e36, #030510);
    position: relative;
    padding: 5rem 12% 15rem 12%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 30vw;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      aspect-ratio: 1800 / 423;
      background: url("/images/strengthsFooter.svg");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 200;
    }
    h2 {
      position: relative;
      text-align: end;
      align-self: end;
      right: -16%;
      z-index: 10;
    }
    .services {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 10rem;
      padding-top: 5rem;
      z-index: 20;
      .service {
        z-index: 2;
        max-width: 40rem;
        color: white;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-shadow: var(--text-shadow);
        &:nth-of-type(2) {
          align-self: flex-end;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .strengths {
      gap: 5rem;
      padding: 0 1rem;
      h2 {
        font-size: 3rem;
        right: -1rem;
      }
      .services {
        padding-top: 0;
        padding-bottom: 10rem;
        gap: 10rem;
        z-index: 10;
        .service {
          gap: 1rem;
          p {
            font-size: 1rem;
          }
          &:nth-of-type(2) {
            h3,
            p {
              text-align: end;
            }
          }
        }
      }
    }
  }
</style>
