---
import TechnologyGraph from "./TechnologyGraph.astro";
---

<section class='technologies'>
  <h2 class="subtitle">Technology</h2>
  <p>Paragraphe sur la pertinence du choix des différentes technos utilisées</p>
  <TechnologyGraph />
</section>

<style lang='scss'>
  .technologies {
    background-color: black;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    p {
      color: white;
      font-size: 2rem;
      max-width: 30%;
      align-self: flex-end;
      margin-right: 12%;
    }
  }

  @media screen and (max-width: 600px) {
    .technologies {
      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
</style>
