---
import SquareHammer from "./SquareHammer.astro";
---

<section class='websiteCreation'>
  <h2>Création de sites web</h2>
  <p>
    Je réalise des <strong>sites web</strong>
    <em>sur mesure</em>, faciles à prendre en main
  </p>
  <div class='bigSquare'>
    <SquareHammer class='squareHammer' />
    <svg
      class='circle'
      viewBox='0 0 800 800'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
    >
      <defs>
        <radialGradient id='circleGradient' cx='0' cy='50%' r='25%'>
          <stop offset='0%' stop-color='#ffffff'></stop>
          <stop offset='100%' stop-color='#ffffff00'></stop>
        </radialGradient>
      </defs>
      <circle
        cx='400'
        cy='400'
        r='396'
        stroke-width='4'
        stroke='url(#circleGradient)'></circle>
    </svg>
    <button class='services'>Découvrir mes services </button>
  </div>
</section>

<style lang='scss'>
  .websiteCreation {
    background-color: #ccd6e8;
    box-shadow:
      0 150px 150px 150px #cdd6e8;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 0 12%;
    h2 {
      color: rgba(255, 255, 255, 0.4);
      font-weight: bold;
      font-size: 6rem;
      line-height: 0.9;
      max-width: 60vw;
      top: 0;
      margin: 0;
      margin-left: -16%;
    }
    p {
      color: #4f4f4f;
      font-size: 1.25rem;
      position: absolute;
      top: 20rem;
      right: 12%;
      width: 40rem;
      text-align: center;
    }
    :global(.squareHammer) {
      z-index: 2;
    }
    .bigSquare {
      position: relative;
      width: fit-content;
      .circle {
        width: 60rem;
        height: 60rem;
        position: absolute;
        left: -60%;
        top: 50%;
        z-index: -1;
        animation: rotateCircle 4s linear infinite;
      }
      .services {
        position: absolute;
        width: max-content;
        left: 150%;
        top: 115%;
        font-weight: bold;
        color: #4f4f4f;
        background: #4f4f4f0a;
        border: solid 2px #4f4f4f;
        border-radius: 5rem;
        padding: 1rem;
        backdrop-filter: blur(4px);
        cursor: pointer;
        &::after {
          content: "";
          background: url("/images/servicesArrow.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 200px;
          height: 100px;
          position: absolute;
          bottom: 100%;
          right: 65%;
        }
      }
    }
  }
  @keyframes rotateCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media screen and (max-width: 600px) {
    .websiteCreation {
      display: flex;
      flex-direction: column;
      padding-top: 15rem;
      padding-bottom: 15rem;
      h2 {
        font-size: 3rem;
        max-width: 80vw;
        margin-top: 5rem;
      }
      p {
        position: static;
        margin: 2rem 0;
        padding: 0 1rem;
        font-size: 1.125rem;
        width: 100%;
      }
      :global(.squareHammer) {
        z-index: 2;
      }
      .bigSquare {
        .circle {
          width: 20rem;
          height: 20rem;
        }
        .services {
          font-size: 1rem;
          align-self: center;
          top: 150%;
          left: 50%;
          &::after {
            width: 150px;
            height: 75px;
            right: 20%;
            transform-origin: bottom right;
            transform: rotate(35deg);
          }
        }
      }
    }
  }
</style>
