---
import SquareHammer from "./SquareHammer.astro";
---

<section class='websiteCreation'>
  <h2>Création de sites web</h2>
  <p>
    Je réalise des <strong>sites web</strong>
    <em>sur mesure</em>, faciles à prendre en main
  </p>
  <SquareHammer class='squareHammer' />
  <svg
    class='circle'
    viewBox='0 0 865 1223'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'
  >
    <rect
      x='-356.5'
      y='1.5'
      width='1220'
      height='1220'
      rx='610'
      stroke='white'
      stroke-width='3'
      stroke-linejoin='round'
      stroke-dasharray='12 12'></rect>
  </svg>
  <button class='services'
    >Découvrir mes services
    <span class='border'></span><span class='border'></span><span class='border'
    ></span>
  </button>
</section>

<style lang='scss'>
  .websiteCreation {
    background: linear-gradient(180deg, #ced9ec 0%, #cdd6e8 100%);
    position: relative;
    height: 125rem;
    h2 {
      color: rgba(255, 255, 255, 0.4);
      font-weight: bold;
      font-size: 11rem;
      line-height: 1;
      max-width: 60vw;
      position: absolute;
      top: 0;
      margin: 0;
    }
    p {
      color: #4f4f4f;
      font-size: 2rem;
      position: absolute;
      top: 30rem;
      right: 12%;
      width: 40rem;
      text-align: center;
    }
    :global(.squareHammer) {
      position: absolute;
      right: 60%;
      bottom: 16rem;
      z-index: 2;
    }
    .circle {
      width: 80rem;
      height: 80rem;
      position: absolute;
      left: -20rem;
      bottom: -10rem;
      z-index: 1;
    }
    .services {
      position: absolute;
      bottom: 20rem;
      right: 30%;
      font-size: 1.25rem;
      border: none;
      background-color: transparent;
      font-weight: bold;
      transform: rotate(-2deg);
      color: #4f4f4f;
      cursor: pointer;
      padding: 1em;
      &::after {
        content: url("/images/servicesArrow.svg");
        position: absolute;
        bottom: 100%;
        right: 65%;
      }
      .border {
        position: absolute;
        border: 1px solid #4f4f4f;
        border-radius: 4em;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:first-of-type {
          transform: translate(calc(-50% - 7px), calc(-50% - 7px));
        }
        &:last-of-type {
          transform: translate(calc(-50% + 7px), calc(-50% + 7px));
        }
      }
    }
  }
</style>
