---
import BorderedButton from "./BorderedButton.astro";
import SquareHammer from "./SquareHammer.astro";
---

<section class='websiteCreation'>
  <h2>Création de sites web</h2>
  <p>
    Je réalise des <strong>sites web</strong>
    <em>sur mesure</em>, faciles à prendre en main
  </p>
  <SquareHammer class='squareHammer' />
  <svg
    class='circle'
    viewBox='0 0 800 800'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'
  >
    <defs>
      <radialGradient id="circleGradient" cx="0" cy="50%" r="25%">
        <stop offset="0%" stop-color="#ffffff"></stop>
        <stop offset="100%" stop-color="#ffffff00"></stop>
      </radialGradient>
    </defs>
      <circle cx="400" cy="400" r="396" stroke-width="4" stroke="url(#circleGradient)" />
  </svg>
  <button class="services"
    >Découvrir mes services
  </button>
</section>

<style lang='scss'>
  .websiteCreation {
    background-color: #ccd6e8;
    box-shadow: 0 150px 150px 150px #cdd6e8, 0 -150px 150px 150px #ccd6e8;
    position: relative;
    height: 100vh;
    z-index: 2;
    h2 {
      color: rgba(255, 255, 255, 0.4);
      font-weight: bold;
      font-size: 11rem;
      line-height: 0.9;
      max-width: 60vw;
      position: absolute;
      top: 0;
      margin: 0;
    }
    p {
      color: #4f4f4f;
      font-size: 2rem;
      position: absolute;
      top: 40rem;
      right: 12%;
      width: 40rem;
      text-align: center;
    }
    :global(.squareHammer) {
      position: absolute;
      right: 60%;
      top: 40rem;
      z-index: 2;
    }
    .circle {
      width: 80rem;
      height: 80rem;
      position: absolute;
      right: 60%;
      top: 50rem;
      z-index: 1;
      animation: rotateCircle 4s linear infinite;
    }
    .services {
      position: absolute;
      top: 100%;
      right: 25%;
      font-size: 1.25rem;
      font-weight: bold;
      color: #4f4f4f;
      background: #4F4F4F0A;
      border: solid 2px #4f4f4f;
      border-radius: 5rem;
      padding: 1rem;
      backdrop-filter: blur(4px);
      cursor: pointer;
      &::after {
        content: url("/images/servicesArrow.svg");
        position: absolute;
        bottom: 100%;
        right: 65%;
      }
    }
  }
  @keyframes rotateCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    } 
    100% {
      transform: rotate(360deg);
    }
  }
</style>
