<section class='website'>
  <h2 class='subtitle'>Mes sites web</h2>
  <div class='services'>
    <div class='service'>
      <h3>Des sites sur mesure</h3>
      <p>
        Les sites que je propose sont adaptés à votre projet et mettront en
        avant les valeurs que vous souhaitez transmettre. Je travaille en
        partenariat avec une graphiste freelance pour vous propoer un design
        moderne et efficace.
      </p>
    </div>
    <div class='service'>
      <h3>Des sites performants</h3>
      <p>
        Concus en priorité pour les mobiles, mes sites ont un poids réduit, un
        temps de chargement rapide. Les médias sont optimisés pour les
        différents types d'appareils et le design s'adapte à toutes les tailles
        d'écran.
      </p>
    </div>
    <div class='service'>
      <h3>Des sites clé en main</h3>
      <p>
        Vous pouvez en option avoir le contrôle total sur le contenu de votre
        site. Créez vous-même les pages dont vous avez besoin à partir des
        sections imaginées par le graphiste. Ajoutez et supprimez des pages à
        votre convenance, modifiez vous-même vos textes pour coller à vos
        besoins en référencement. Ajoutez des sections à vos pages existantes
        pour promouvoir une offre temporaire.
      </p>
    </div>
  </div>
</section>

<style lang='scss'>
  .website {
    background: url("/images/frog.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    gap: 10rem;
    flex-direction: column;
    padding: 0 12%;
    padding-top: 10rem;
    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: -50vh;
      left: 0;
      background: linear-gradient(
        180deg,
        #052a2a00 0%,
        #052a2a 35%,
        #4f5e36 75%,
        #4f5e3600 100%
      );
    }
    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: calc(100% - 50vh);
      left: 0;
      background: linear-gradient(
        180deg,
        #78814200 0%,
        #788142 35%,
        #436137 70%,
        #43613700 100%
      );
      z-index: 1;
    }
    h2 {
      text-align: right;
      z-index: 2;
      align-self: end;
      margin-right: -12vw;
    }
    .services {
      display: flex;
      flex-direction: column;
      gap: 15rem;
      .service {
        z-index: 2;
        max-width: 40rem;
        color: white;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-shadow:
          0px 0px 2em #000000,
          0px 0px 0.2em #000000;
        &:nth-of-type(1)::before {
          content: "";
          background: url("/images/arrow-service-1.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 202px;
          height: 167px;
          position: absolute;
          top: 30%;
          left: calc(100% + 5vw);
        }
        &:nth-of-type(2) {
          align-self: flex-end;
          text-align: end;
          &::before {
            content: "";
            background: url("/images/arrow-service-2.svg");
            background-size: contain;
            background-repeat: no-repeat;
            width: 106px;
            height: 217px;
            position: absolute;
            top: 40%;
            right: calc(100% + 5vw);
          }
        }
        &:nth-of-type(3)::before {
          content: "";
          background: url("/images/arrow-service-3.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 224px;
          height: 191px;
          position: absolute;
          bottom: 20%;
          left: calc(100% + 3vw);
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .website {
      padding: 0 1rem;
      padding-top: 8rem;
      gap: 5rem;
      h2 {
        font-size: 3rem;
        margin-right: -1rem;
      }
      .services {
        gap: 10rem;
        .service {
          &:nth-of-type(1)::before {
            top: calc(100% + 2rem);
            left: 60%;
            height: 6rem;
          }
          &:nth-of-type(2)::before {
            display: none;
          }
          &:nth-of-type(3)::before {
            top: unset;
            bottom: calc(100% + 2rem);
            left: 30%;
            height: 6rem;
          }
          h3 {
            margin-bottom: 2rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
</style>
