---
---

<section class="website">
  <h2>Ce que je<br>propose</h2>
</section>

<style lang="scss">
  .website {
    background: url("/images/frog.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 12%;
    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(180deg, rgba(1, 23, 23, 0) 1%, #052a2a 34%, #4F5E36 73%, rgba(113, 136, 71, 0) 100%);
    }
    h2 {
      color: rgba(255, 255, 255, 0.4);
      font-weight: bold;
      font-size: 11rem;
      line-height: 0.9;
      text-align: right;
      z-index: 2;
      margin-right: -15.79%;
    }
  }
</style>